@model RegisterViewModel
@{ ViewData["Title"] = "Registr"; }

<!-- Header Area End -->
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>sign up</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Register start -->
<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>sign up</h2>
                            <span>Please login using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <form action="register" method="post">
                                <div class="login-form">
                                    <div class="row">
                                        <div class="col-md-12 col-12 mb--15">
                                            <label asp-for="FullName">Full Name</label>
                                            <input class="mb-0 form-control" asp-for="FullName"
                                                   placeholder="Enter your full name">
                                            <span asp-validation-for="FullName" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-12 col-12 mb--15">
                                            <label asp-for="UserName">UserName</label>
                                            <input class="mb-0 form-control" asp-for="UserName"
                                                   placeholder="Enter your username">
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                        <div class="col-12 mb--20">
                                            <label asp-for="Email">Email</label>
                                            <input class="mb-0 form-control" asp-for="Email" placeholder="Enter Your Email Address Here..">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-6 mb--20">
                                            <label asp-for="Password">Password</label>
                                            <input class="mb-0 form-control" asp-for="Password" placeholder="Enter your password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-6 mb--20">
                                            <label asp-for="RepeatPassword">Repeat Password</label>
                                            <input class="mb-0 form-control" asp-for="RepeatPassword" placeholder="Repeat your password">
                                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                                        </div>
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary mx-auto">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register end -->
<!-- Subscribe Start -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">

            <!-- mailchimp-alerts Start -->
            <div class="mailchimp-alerts">
                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
            </div>
            <!-- mailchimp-alerts end -->
        </div>
    </div>
</div>
        </div>
    </div>
<!-- Subscribe End -->

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
} 